html, body {
  height: 100%;
  margin: 0;
}

#container {
  display: flex;
  height: 100vh;
}

#sidebar {

  width: 300px;
  padding: 10px;
  background: #f5f5f5;
  overflow-y: auto;
}

#map {
  flex: 1;
}

.event-item {
  padding: 8px;
  margin-bottom: 6px;
  background: white;
  border-left: 4px solid #ccc;
  cursor: pointer;
}

.event-item:hover {
  background: #eaeaea;
}
